/* .app {
  min-height: calc(100vh - 70px);
} */

html {
  font-family: Montserrat;
}

*:focus {
    outline: none;
}
body {
  margin: 0;
  padding: 0;
  min-width: 100vw;
  min-height: 100vh;
  background: linear-gradient(180deg, #070607 0%, #1F1E1C 100%);
  background-repeat: no-repeat;
}
